


*{
    font-size: 15px;
}
.white{
    color: #fff !important;
    
}
.dark{
    background-color: #080808;
}
.contact{
    color: #000 !important;
    border: none !important;
    background-color: #e4b20f !important;
    margin-left: 250px;
    border-radius: 20px;
    width: 15%;
}
li a{
    color: #fff !important;
}
.navbar-toggler-icon{
    margin-left: 400px;
    color: #ffffff !important;
    background-color:rgb(255, 255, 255);
    border: 0px solid white !important;
}
.about {
    background-image: url('../image/about.PNG');
    background-repeat: no-repeat;
}
.h1{
    margin-top: 60px;
    font-size: 25px;
}
.bg{
    background-color: #000
}
.fs{
    font-size: 65px !important;
    color: #e9c70b !important;
    /* margin-bottom: -10px !important; */
}
.color{
    color: #818078;
}
.fsm{position: relative;
    bottom: 60px !important;
    margin-left: 80px;
    color: #d4c989 !important;
    /* margin-top: 20px; */
    font-size: 19px;
    
}
.ptop{
    margin-top: -60px !important;
}
.imge{
    margin-left: 50px;
    margin-top: 40px;
    
}
.shadow{
    box-shadow: 0px 0px 10px #00000e !important
}
.box-shadow{
    box-shadow: 1px 1px 1px;
}
.boxe-shadow{
    box-shadow: 0 2px 2px 0;
}
.row{
    margin-bottom: -17px;
    margin-top: 18px;
}.rew{
    
    box-shadow: 0 0 4px
}
.section{
    margin-top: -20px !important;
}
 /* about */

 .learn{
    margin-top: 20px;
    width: 200px;
    border: none;
    background-color: #080808;
    color: #fff;
    width: 300px;
    
 }
 .row1{
    margin-top: 100px;
 }
 .span{
    padding-top: 30px;
    margin-right: 200px;
 }
 .raw{
    
    box-shadow: 0 0 1px

 }
 
.fsh{
   font-size: 50px !important;
    color: #d4c989 !important;
    margin-top: -20px !important;
}
.center{
    margin-left: 30px !important;
    /* background-color: #fcf80d; */
}

.text-color{
    color: #ddca8a;
}
.whitedark{
    color: #9b9695;
    font-size: 18px;
}
.text-colo{
    color: #818078;
}
.start{
    border-radius: 12px;
    background-color: rgb(235, 201, 12);
    width: 15%;
    color: #ffffff;
}
.que{
    margin-left: 700px;
    margin-top: 20px !important;
    /* position: relative; */
}
.for{
    width: 160px !important;
}
.ss{
font-size: 10px !important;
}


.contact-form input, .contact-form select, .contact-form textarea {
    display: block;
    background: #0f0e0e;
    width: 100%;
    padding: 10px;
    margin-top: 40px !important;
}

.contact-form button {
    background: #212020;
    color: rgb(239, 235, 235);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
input{
    border: none;
    border-bottom: 1px solid #212020;
}


@media (max-width:800px){
    .que{
        margin-left: 60px !important;
    }
    
    .for{
        font-size: 10px !important;
        width: 60px !important;
    }
    .learn{
        width: 120px !important;
    }
    .h1{
        font-size: 20px !important;
    }
    }




    label {
        display: flex;
        /* align-items: center; */
        cursor: pointer;
        font-size: 16px;
        color: #9b9695;
        /* margin-left: 30px; */
    }
    img{
        margin-left: -20px !important;
        margin-top: -15px;
    }
    .imgc{
        margin-left: 10px !important;
        width: 60px;
    }
    
    .form-group span{
        font-size: 17px;
        margin-left: -110px;
        margin-top: 33px;
    }
    input[type="checkbox"] {
        margin-left: -100px;
    }
    textarea{
        border: none;
        background-color: #00000e;
        border-bottom: 2px solid #181515;
        
    }
    button {
        background-color: #007bff;
        border: none;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        padding: 10px;
        width: 30%;
        transition: background-color 0.3s;
    }
    .activ{
        background-color: #818078;
        color: #000;
        border-radius: 12px;
    }
    .fixed{
        padding-top: 30px !important;
        position: fixed;
        width: 100%;
    }
    /* .nav-link:hover{
        
        background-color: #818078;
        color: #000;
        border-radius: 12px;
    } */

    .form-container {
        width: 55%;
        margin: auto;
        padding: 20px;
        background-color: rgba(38, 38, 38, 0.7);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    
    .row {
        display: flex;
        justify-content: space-between;
    }
    
    .form-group {
        margin-bottom: 20px;
    }
    
    .half-width {
        width: 48%;
    }
    
    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
    
    input[type="text"],
    input[type="email"],
    textarea {
        width: 95%;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid #444444;
        border-radius: 5px;
        color: #ffffff;
    }
    
    input[type="text"]::placeholder,
    input[type="email"]::placeholder,
    textarea::placeholder {
        color: #999999;
    }
    
    textarea {
        height: 100px;
        resize: none;
    }
    
    .checkbox-group {
        display: flex;
        flex-wrap: wrap;
    }
    
    .checkbox-group label {
        width: 48%;
        margin-bottom: 10px;
        font-weight: normal;
    }
    
    input[type="checkbox"] {
        margin-right: 10px;
    }
    
    .slider-group {
        position: relative;
        height: 40px;
    }
    
    input[type="range"] {
        position: absolute;
        width: 100%;
        -webkit-appearance: none;
        appearance: none;
        background-color: transparent;
        z-index: 2;
    }
    
    input[type="range"]::-webkit-slider-runnable-track {
        width: 100%;
        height: 8px;
        background: #444444;
        border-radius: 5px;
        cursor: pointer;
    }
    
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        background: #ffcc00;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .budget-labels {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 25px;
        width: 100%;
        z-index: 1;
    }
    
    button {
        width:100%;
        padding: 15px;
        background-color:transparent;
       
        color: #f2eded;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
  
    /* Add this to your existing CSS */
    .slider-group {
        position: relative;
        height: 40px;
        width: 100%;
    }
    
    input[type="range"] {
        position: absolute;
        width: 100%;
        -webkit-appearance: none;
        appearance: none;
        background: none;
        z-index: 2;
        pointer-events: none;
    }
    
    input[type="range"]:focus {
        outline: none;
    }
    
    input[type="range"]::-webkit-slider-runnable-track {
        width: 100%;
        height: 8px;
        background: #444444;
        border-radius: 5px;
        cursor: pointer;
    }
    
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        background: #ffcc00;
        border-radius: 50%;
        cursor: pointer;
        pointer-events: all;
        position: relative;
    }
    
    input[type="range"]::-moz-range-track {
        width: 100%;
        height: 8px;
        background: #444444;
        border-radius: 5px;
        cursor: pointer;
    }
    
    input[type="range"]::-moz-range-thumb {
        width: 20px;
        height: 20px;
        background: #ffcc00;
        border-radius: 50%;
        cursor: pointer;
        pointer-events: all;
        position: relative;
    }
    
    input[type="range"]::-ms-track {
        width: 100%;
        height: 8px;
        background: transparent;
        border-color: transparent;
        color: transparent;
        cursor: pointer;
    }
    
    input[type="range"]::-ms-fill-lower {
        background: #444444;
        border-radius: 5px;
    }
    
    input[type="range"]::-ms-fill-upper {
        background: #444444;
        border-radius: 5px;
    }
    
    input[type="range"]::-ms-thumb {
        width: 20px;
        height: 20px;
        background: #ffcc00;
        border-radius: 50%;
        cursor: pointer;
        pointer-events: all;
        position: relative;
    }
    
    .slider-track {
        position: absolute;
        width: 100%;
        height: 8px;
        background: linear-gradient(to right, #444444, #ffcc00, #444444);
        border-radius: 5px;
        z-index: 1;
        top: 12px;
    }
    



    .faq {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
    }
    
    .faq-item {
        border-bottom: 1px solid #333;
        margin-bottom: 10px;
    }
    
    .faq-question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding: 15px;
        background-color: #333;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
    }
    
    .faq-answer {
        display: none;
        padding: 15px;
        background-color: #444;
        color: #fff;
    }
    
    .faq-answer p {
        margin: 0;
    }
    
   
   